body{
    margin:0;
}
canvas{
    display:block;
}

#custom-cursor{
    position: fixed;
    width: 40px;
    height: 40px;
    background-image: url('../media/images/noun-cursor-1010278.png');
    background-size: cover;
    pointer-events: none;
}

#hello{
    position:absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-15%);
    color: blue;
}

#Three{
    width: 800px; /* Adjust the width of the container */
    height: 100%; /* Adjust the height of the container */
    border: 1px solid black; /* Optional border for the container */
}
